:root {
  --background-color: white;
  --gray: #e4e4e4;
}

* {
  color: black;
}

.header {
  display: flex;
  height: 5vh;
  padding: 10px 10px 5px 20px;
  border-bottom: solid 2px var(--gray);
}

.title {
  padding-right: 50px;
  display: flex;
  align-items: center;
  margin: 0%;
  font-size: 18px;
  font-weight: 500;
}

.search-bar {
  background-color: var(--gray);
  border-radius: 8px;
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.search-bar img {
  height: 40%;
  width: auto;
  padding-right: 15px;
}

.search-input {
  width: 90%;
  height: 70%;
  background-color: transparent;
  border: none;
}
