:root {
  --background-color: white;
  --gray: #e4e4e4;
}

* {
  color: black;
}

.add-note-container {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 2%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Box shadow effect */
}

.add-note-form {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  margin-top: 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Box shadow effect */
}

.add-note-container > button {
  background-color: transparent;
  display: flex;
  justify-content: start;
  font-size: 16px;
  border: none;
  color: gray;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.add-note-title {
  margin-bottom: 5%;
  font-size: 16px;
  border: none;
}

.add-note-content {
  margin-bottom: 5%;
  font-size: 14px;
  border: none;
}

.add-note-close {
  display: flex;
  justify-content: flex-end;
}

.add-note-close input {
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
