.delete-confirmation-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-confirmation {
  background-color: white;
  width: 35%;
  padding: 5px 10px 10px 15px;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.delete-confirmation-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.delete-confirmation-buttons > button {
  margin-right: 10px;
  font-size: 16px;
}

.delete-confirmation-title > p {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 20px;
}

.delete-confirmation-content > p {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  margin-top: 0;
}

.delete-confirmation-close {
  color: red;
}
