:root {
  --background-color: white;
  --gray: #f2f1f1;
}

* {
  color: black;
}

/* Header =============================================================== */

.header {
  display: flex;
  height: 5vh;
  padding: 10px 10px 5px 20px;
  border-bottom: solid 2px var(--gray);
}

.title {
  padding-right: 50px;
  display: flex;
  align-items: center;
  margin: 0%;
  font-size: 18px;
  font-weight: 500;
}

.search-bar {
  background-color: var(--gray);
  border-radius: 8px;
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.search-bar img {
  height: 60%;
  width: auto;
  padding-right: 15px;
}

.search-input {
  width: 90%;
  height: 70%;
  background-color: transparent;
  border: none;
}
/* Add Note =============================================================== */

.add-note-container {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Box shadow effect */
}

.add-note-form {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Box shadow effect */
}

.add-note-container > button {
  background-color: transparent;
  display: flex;
  justify-content: start;
  font-size: 16px;
  border: none;
  color: gray;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.add-note-title {
  margin-bottom: 5%;
  font-size: 16px;
  border: none;
}

.add-note-content {
  margin-bottom: 5%;
  font-size: 14px;
  border: none;
}

.add-note-close {
  display: flex;
  justify-content: flex-end;
}

.add-note-close input {
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
